<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<body>
<h1>Admin Home Page</h1>
<form action="/logout" method="GET">
    <button id="admin-logout" type="submit">Logout</button>
</form>

<a href="/home/admin/add-form">Add landmark</a>

<table>
    <thead>
    <tr>
        <th scope="col">OSM_ID</th>
        <th scope="col">HISTORIC</th>
        <th scope="col">TOURISM</th>
        <th scope="col">WAY</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="landmark : ${landmarks}">
        <td th:text="${landmark.getOsm_id()}"></td>
        <td th:text="${landmark.getHistoric()}"></td>
        <td th:text="${landmark.getTourism()}"></td>
        <td th:text="${landmark.getWay()}"></td>
        <td>
            <th:block>
                <form th:action="@{'/home/admin/delete/{id}' (id=${landmark.getOsm_id()})}" th:method="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </th:block>
            <th:block>
                <a th:href="@{'/home/admin/edit-form/{id}' (id=${landmark.getOsm_id()})}">Edit</a>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>